.dashboard-container {
    padding: 20px;
    background-color: #f4f4f9;
  }
  
  .dashboard-container .header {
    color: #333;
    margin-bottom: 10px;
  }
  
  .dashboard-container .widget {
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .dashboard-container .widget:hover {
    background: #e9e9e9;
  }
  
  .dashboard-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dashboard-container li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .dashboard-container li:last-child {
    border-bottom: none;
  }
  
  .dashboard-container li:hover {
    background: #e9e9e9;
  }